
/* 
PORJECT NAME: matching game
FILE: style.html
DATE: 10/30/2023
MOD DATE: 
MOD CHANGES: 
MOD LINE: 
VERSION: 0.0.1
PROGRAMER: Charles Matthew Milam Jr
 */

html,body{
  background-color: rgb(100, 101, 98);
  margin: 0;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/* MAIN CONTAINER */
.contentcontainer{
  /* width: 100%;
  height: 100%; */
  background-color: rgb(67, 67, 67);
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/* START SCREEN */
.startMenu{
  width: 100%;
  height: 100vh;
  background-color: rgb(100, 101, 98);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 
/* start massage */
.startMessage{ 
  text-align: center;
  font-size: 50px;
  color: rgb(46, 46, 46);
} 
/* best score */
.bestScore{
color: #5c3d3d;
} 
/* start button */
.startBtn{
  width: 250px;
  height: 75px;
  font-size: 25px;
  font-weight: 900;
  border-radius: 10px;
  border: 0;
  background-color: rgb(58, 96, 81);
  color: rgb(221, 239, 255);
  transition: .5s;
  cursor: pointer;
}
.startBtn:hover{
  background-color: rgb(102, 149, 97);
  transition: .5s;
  box-shadow: 0 0 5px black;
}
/* projects button */
.projectsBtn{
  width: 250px;
  height: 75px;
  font-size: 25px;
  font-weight: 900;
  border-radius: 10px;
  border: 0;
  background-color: rgb(78, 58, 96);
  color: rgb(221, 255, 242);
  transition: .5s;
  cursor: pointer;
  margin: 20px;
}
.projectsBtn:hover{
  background-color: rgb(101, 93, 154);
  transition: .5s;
  box-shadow: 0 0 5px black;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/* GAME SCREEN */
.game{
  width: 100%;

  background-color: rgb(100, 101, 98);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  perspective: 800px;
}

/* back to start button */
.startmeueBtn{
  width: 250px;
  height: 75px;
  font-size: 25px;
  font-weight: 900;
  border-radius: 10px;
  border: 0;
  background-color: rgb(69, 95, 125);
  color: rgb(221, 239, 255);
  transition: .5s;
  margin: 16px;
}
.startmeueBtn:hover{
  background-color: rgb(123, 154, 190);
  transition: .5s;
  box-shadow: 0 0 5px black;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/* GAME LOGIC */
.game{
  width: 100%;
  height: 100vh;
  background-color: rgb(100, 101, 98);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tilecontainer{
max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective:  900px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.tile{
  width: 13dvi;
  height: 13dvi;
  margin: 8px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .5s;
} 
.back, .front{
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 5px;
  border: 2px solid;
  pointer-events: none;
}
.tile.flip{
  transform: rotateY(180deg);
}
.front{
  transform: rotateY(180deg);
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/* GAME MENU CONTROL AND TRANSITION */
.startMenu, .game{
  position: absolute;
  backface-visibility: hidden;
}
.contentcontainer{
  transform-style: preserve-3d;
  transition:  all 2s cubic-bezier(0.155, .75, 0.52 , 1.25);
}
.contentcontainer.startgame{
  transform: rotateY(180deg);
}
.startMenu{
  transform: rotateY(180deg);

}